@page
@model RentRazor.Pages.RentCardModel
@{
    ViewData["Title"] = "Аренда";
}

<div class=text-justify>
    <h2>
        @Model.type на @Model.address.Adress
    </h2>

    <p class="text-success">Номер телефона: <a href="tel:@Model.property.TelephoneNumber">@Model.property.TelephoneNumber</a></p

    @foreach(var image in Model.IdOfPhoto)
    {
        <img src="@Url.Content("~/Api/PhotoControll?id=" + image)"/>
    }

    <div>
        @foreach(string tag in Model.Tags)
        {
            <p>@tag</p>
        }
    </div>

</div>
