@page
@model RentRazor.Pages.RentCardModel
@{
    ViewData["Title"] = "Аренда";
}

<div class=text-justify>
    <h2>
        @Model.type на @Model.address.Adress
    </h2>

    <p class="text-success">Номер телефона: <a href="tel:@Model.property.TelephoneNumber">@Model.property.TelephoneNumber</a></p>

    <div class=card-deck>
        @foreach(var image in Model.IdOfPhoto)
        {
            <div class=col-sm-6>
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="@Url.Content("~/Api/PhotoControll?id=" + image)"/>
                </div>
            </div>
        }
    </div>

    <hr />

    <h5>Количество комнат @Model.address.ApartmentNumber</h5>
    <h5>Этаж @Model.address.FloorNumber</h5>

    <hr />

    <div>тут должна быть карта</div>

    <hr />

    <div>
        @if (Model.Tags.Any())
        {
            @foreach(string tag in Model.Tags)
            {
                <p class="tags">@tag</p>
            }
        }
    </div>

</div>
