@page
@model RentRazor.Pages.RentCardModel
@{
    ViewData["Title"] = "Аренда";
}

<div class=text-justify>
    <h2>
        @Model.type на @Model.address.Adress
    </h2>

    <p class="text-success">Номер телефона: <a href="tel:@Model.property.TelephoneNumber">@Model.property.TelephoneNumber</a></p>

    <div class=card-deck>
        @foreach(var image in Model.IdOfPhoto)
        {
            <div class=col-sm-6>
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="@Url.Content("~/Api/PhotoControll?id=" + image)"/>
                </div>
            </div>
        }
    </div>

    <hr />

    <h>Количество комнат @Model.address.ApartmentNumber</h>
    <h5>Этаж @Model.address.FloorNumber</h5>

    <hr />

    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7b7085671a768078197fdbe7c73a41c30c9ef0d750b8d9b60e2d1cba8eae215f&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>

    <hr />

</div>
